<h1>Create</h1>
<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form #form="ngForm">
            <div class="form-group">
                <label for="DepartmentName" class="control-label">Name</label>
                <input type="text" id="DepartmentName" name="DepartmentName" class="form-control"
                    [(ngModel)]='department.departmentName' required #name="ngModel" />
                <div class="alert-danger" *ngIf="name.errors && (name.dirty || name.touched)" style="padding:2px;">
                    <span *ngIf="name.errors.required">Name is required</span>
                </div>
            </div>
            <div class="form-group">
                <input [disabled]="!form.valid" class='btn btn-tomato' type="button" value="Add" (click)='add()'>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-tomato" [routerLink]="['/department']">Back to List</a>
</div>