<div>
    <h1>{{title}}</h1>
    <button *ngIf='!isEmployee' class="btn btn-tomato" [routerLink]="['/addEmployee']">Create New Employee</button>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Name
                </th>
                <th>
                    Surname
                </th>
                <th>
                    Address
                </th>
                <th>
                    Qualification
                </th>
                <th>
                    ContactNumber
                </th>
                <th>
                    Department
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>
                    {{employee.email}}
                </td>
                <td>
                    {{employee.name | titlecase}}
                </td>
                <td>
                    {{employee.surname | titlecase}}
                </td>
                <td>
                    {{employee.address}}
                </td>
                <td>
                    {{employee.qualification}}
                </td>
                <td>
                    {{employee.contactNumber}}
                </td>
                <td>
                    {{employee.department.departmentName}}
                </td>
                <td>
                    <a class="text-tomato" [routerLink]="['/profile', employee.id]">Details</a>
                    <span *ngIf='!isEmployee'> | </span>
                    <a *ngIf='!isEmployee'class="text-tomato" [routerLink]="['/editEmployee', employee.id]">Edit</a>
                    <span *ngIf='!isEmployee'> | </span>
                    <a *ngIf='!isEmployee' class="text-tomato" [routerLink]="['/removeEmployee', employee.id]">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>