<h1>Departments</h1>
    <button class="btn btn-tomato">Create New Department</button>
<table class="table">
    <thead>
        <tr>
            <th>
                DepartmentName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let department of departments">
            <td>
                {{department.departmentName}}
            </td>
            <td>
                <a [routerLink]="['/departmentDetails', department.departmentId]">Details</a> |
                <a>Edit</a> |
                <a>Delete</a>
            </td>
        </tr>
    </tbody>
</table>