<h1>Reset Password</h1>

<div class="row">
    <div class="col-md-12">
        <form #form="ngForm">
            <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input for="password" id="password" name="password" class="form-control" [(ngModel)]='resetPassword.password' required/>
            </div>
            <div class="form-group">
                <label for="cpassword" class="control-label">Confirm Password</label>
                <input for="cpassword" id="cpassword" name="cpassword" class="form-control" [(ngModel)]='resetPassword.confirmPassword' required/>
            </div>
              <div class="form-group">
                <input [disabled]="!form.valid" class='btn btn-tomato' type="submit" value="Reset" (click)='reset()'>
            </div>
        </form>
    </div>
</div>